﻿@model ProjektAplikacjiWeb.ViewModels.EditProductViewModel
@{
    ViewBag.Title = "Edycja produktu";
}

<hr />

<h2 class="manageHeader">Edycja produktu</h2>

<div>
    @if (Model.ConfirmSuccess.HasValue && Model.ConfirmSuccess.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }

    @using (@Html.BeginForm("AddProduct", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>

        @Html.HiddenFor(book => book.Book.BookId)
        @Html.HiddenFor(book => book.Book.ImageFilename)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(book => book.Book.Author, "Autor:")</td>
                    <td>@Html.TextBoxFor(book => book.Book.Author)</td>
                    <td>@Html.ValidationMessageFor(book => book.Book.Author)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(book => book.Book.Title, "Tytuł:")</td>
                    <td>@Html.TextBoxFor(book => book.Book.Title)</td>
                    <td>@Html.ValidationMessageFor(book => book.Book.Title)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(book => book.Book.Description, "Opis:")</td>
                    <td>@Html.TextAreaFor(book => book.Book.Description)</td>
                    <td>@Html.ValidationMessageFor(book => book.Book.Description)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(book => book.Category, "Kategoria:")</td>
                    <td>@Html.DropDownListFor(book => book.Book.CategoryId, new SelectList(Model.Category, "CategoryId", "Name", Model.Category.First().CategoryId))</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(book => book.Book.Price, "Cena:")</td>
                    <td>@Html.TextBoxFor(book => book.Book.Price)</td>
                    <td>@Html.ValidationMessageFor(book => book.Book.Price)</td>
                </tr>

                @if (!(@Model.Book.BookId > 0))
                {
                    <tr>
                        <td colspan="3">

                            <div class="upload">
                                <input type="file" name="file" />
                            </div>

                        </td>
                    </tr>
                }

                <tr>
                    <td style="text-align: right;">

                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />

                    </td>
                    <td></td>

                </tr>
            </table>
        </div>
    }

</div>

@section ScriptsBottom
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}
