﻿@model ProjektAplikacjiWeb.ViewModels.HomeViewModel
@using ProjektAplikacjiWeb.Infrastructure

@{
    ViewBag.Title = "Strona Główna";
}
<!-- widoki pisane w Razor -->
<nav class="genres-horizontal">
    <ul>
        @foreach (var category in Model.Categories)
        {
            <li>@Html.ActionLink(@category.Name, "Category", "Store", new { categoryname = category.Name.ToLower() }, null)</li>
        }
    </ul>
</nav>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        @foreach (var book in Model.Books)
        {
            <li>
                <article>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { categoryname = book.Category.Name.ToLower(), bookId = book.BookId })">
                        <img class="album-cover" src="@Url.BookImagePath(book.ImageFilename)" />
                        <h1>
                            @book.Title
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

