﻿@{
    ViewBag.Title = "Kontakt";
}

<h2>Kontakt</h2>

<div style="margin-top: 20px; line-height: 22px;">
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</div>
