﻿@model ProjektAplikacjiWeb.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Logowanie";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<div>
    @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div id="login-error">
            @Html.ValidationMessage("loginerror", "")
        </div>

        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(mail => mail.Email, "E-mail:")</td>
                <td>
                    @Html.TextBoxFor(mail => mail.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(mail => mail.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(pass => pass.Password, "Hasło")</td>
                <td>
                    @Html.PasswordFor(pass => pass.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(pass => pass.Password)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="checkbox" style="margin-bottom: 10px;">
                        @Html.CheckBoxFor(remember => remember.RememberMe, new { @checked = "checked" })
                        @Html.LabelFor(remember => remember.RememberMe)
                    </div>

                    <input type="submit" value="Zaloguj" class="submitLink" style=" height: 40px;" />
                </td>
            </tr>
        </table>
    }
</div>

@section ScriptsBottom
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}