﻿@model IEnumerable<ProjektAplikacjiWeb.Models.Book>
@using ProjektAplikacjiWeb.Infrastructure

<div id="productlist-section">
    <ul class="ThreeColumnsCoversList small-cover-list">
        @foreach (var book in Model)
        {
            <li>
                <article>
                    <a class="productdetailslink" href="@Url.Action("Details", "Store", new { bookId = book.BookId })">
                        <img class="album-cover" src="@Url.BookImagePath(book.ImageFilename)" />
                        <h1>@book.Title</h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</div>
