﻿@model IEnumerable<ProjektAplikacjiWeb.Models.Category>

<nav class="genres-vertical">
    <ul>
        @foreach (var category in Model)
        {
            <li>@Html.ActionLink(@category.Name, "Category", "Store", new { categoryname = category.Name.ToLower() }, null)</li>
        }
    </ul>
</nav>