﻿@{
    ViewBag.Title = "Kategorie";
}

<div id="productlist-content">

    @Html.Action("CategoryMenu")

    <div id="productlist-rightsection">

        @Html.Partial("_CategoryList")

    </div>
</div>

