﻿@model ProjektAplikacjiWeb.Models.Book
@using ProjektAplikacjiWeb.Infrastructure

@{
    ViewBag.Title = "Szczegóły produktu";
}

<div id="productlist-content">

    @Html.Action("CategoryMenu")

    <div id="productlist-rightsection">
        <section id="product-details-section">
            <div id="product-details-left">
                <!-- zastosowanie podstawowych helperów (wlasne helpery) -->
                <img src="@Url.BookImagePath(Model.ImageFilename)" />
            </div>

            <div id="product-details-right">
                <div id="product-details-names">
                    <h1>@Model.Title</h1>
                    <h2>@Model.Author</h2>
                </div>
                <div id="product-details-price">
                    <div>@String.Format("{0:0.##}", @Model.Price)<span>PLN</span></div>
                    <a href=""></a>
                </div>
                <div id="product-details-description">
                    @Model.Description
                </div>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                <a href="@Url.Action("AddProduct", "Manage" , new { bookId=Model.BookId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
                }

            </div>
        </section>
    </div>
</div>