﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="productlist-content">

    @Html.Action("CategoryMenu", "Store")

    <div id="productlist-rightsection">
        <section class="content-section">
            <div class="section-header" style="margin-bottom: 0px;">
                <h1>
                    @RenderSection("SectionTitle", required: false)
                </h1>
            </div>

            @RenderBody()

        </section>
    </div>
</div>

@section ScriptsBottom
{
    @RenderSection("ScriptsBottom", required: false)
}
